body {
	background-color: #fafafa;
	color: #200;
	font-family: 'Righteous', cursive;

}

header .navbar {
	padding: 0.5em;
	background-color: #1565c0;
}
header .navbar1 {
	padding: 0.5em;
	background-color: #5e92f3;
}


.card-feel {
    margin-top: 30px;
	padding: 0.5em;
}

#material-icon-btn {
  color: #ffffff;
}

hr {
  color: #ffffff;
}

#footer-text {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin-top: 20px;
   text-align: center;
}
.footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  padding-top:20px;
  padding-bottom:85px;
  background-color: #1565c0;
}

.social {
    display: inline-block;
    padding: 5px;
}


