body {
	background-color: #fafafa;
	color: #200;
	font-family: 'Markazi Text', serif;
}

header .navbar {
	padding: 0.5em;
	background-color: #1565c0;
}
header .navbar1 {
	padding: 0.5em;
	background-color: #5e92f3;
}


.card-feel {
    margin-top: 30px;
	padding: 0.5em;
}

#footer-text 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
.footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40%;
  line-height: 60px; /* Vertically center the text there */
  background-color: #1565c0;
}



